@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  background: #eeeeee;
}

h1 {
  margin: 0 0 5px 0;
  padding: 0;
}

section {
  margin-bottom: 10px;
  text-align: center;
}

input {
  outline:none;
}

.range__slider{
  border-radius: 50px;
  width: 300px;
  height: 6px;
  -webkit-appearance: none;
  -moz-apperance: none;
  background: #cccccc;
}

.thumb {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  -webkit-appearance: none !important;
  top: -7px;
  background: white;
  box-shadow: 2px 2px 2px 2px #CCCCCC50;
  cursor: pointer;
}

.inner-thumb{
  width: 8px;
  height: 8px;
  position: absolute;
  background: #cccccc;
  border-radius: 50px;
  /*
  Put top edge and left edge in the center
  */
  top: 6px;
  left: 6px;
}